a.title {
    color: #ffffff;
    text-decoration:none;
}

.code {
    color: #ffffff;
    word-break:keep-all;
}

ol {
    padding-left:25px;
}

img.title-image {
    width: auto;
    height: 100px;
}