.code {
    color: #ffffff;
    word-break:keep-all;
}

ol {
    padding-left:1%;
}

img.title-image {
    width: 200px;
    height: auto;
}

main {
    width: 70%;
    padding: 10px;
    float: left;
}

aside#sidebar {
    width: 20%;
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
}

a.index {
    color: #ffffff;
    text-decoration:none;
}